.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: row;
    border-width: 5px;
    border-color: #0b0b0b;
}
.wrapper_split_image{
    width: 50%;
    height: 100%;
    background-position: 50% 0;
    border: #0f0f0f;
    border-width: 5px;
}
.wrapper_split_content{
    width: 50%;
    min-height: 100%;
    border: #0f0f0f;
    border-width: thick;
}

/*------------------------------------------------------------------
[Social Icons]
*/

.social_list {
    text-align: right;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social_list > li {
    display: inline-block;
    margin: 0 0 0 20px;
}

/*------------------------------------------------------------------
[Footer]
*/

.footer {
    position: relative;
    background: #f5f5f5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    display: block;
    /*padding: 25px 40px 5px;*/
    /*margin: 50px -40px 0;*/
}

.footer a {
    color: #222222;
}

.footer a:hover,
.footer a:focus {
    color: rgba(34, 34, 34, 0.8);
}

.col_md_5 {
    width: 41.66666667%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col_md_7 {
    width: 58.33333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col_sm_12 {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col_sm_4 {
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col_sm_8 {
    width: 66.66666667%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-direction: row;
}

.row:before {
    display: table;
    content: " ";
}

.row:after {
    clear: both;
}

.container_fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container_custom {
    max-width: 768px;
}